<ol class="date-picker pure-g">
    {{#each dates}}
    <li class="pure-u-1-{{../numDates}}"><a href="/{{../route}}/{{isoDate}}" data-date="{{isoDate}}">
        <span class="day">{{weekDay}}</span>
        <span class="date">{{day}}</span>
    </a></li>
    {{/each}}
</ol>
