<ul class="photo-list">
    {{#each photos}}
    <li><a href="{{f}}" data-caption="{{cap}}" data-license="{{l}}" data-user="{{u}}" data-user-link="{{a}}">
        <img src="{{t}}">
    </a></li>
    {{/each}}
</ul>
