<h4 class="timespan">{{slot}}</h4>

<table>
    <tbody>
        {{#each sessions}}
        <tr class="{{#if isKeynote}}keynote{{/if}}{{#if singleSession}} singlesession{{/if}}{{#unless NumSpeakers}} no-speaker{{/unless}}">
            <td class="article" data-session-id="{{EntryID}}">
                <div class="speaker-imgs-{{NumSpeakers}}">
                    {{#each Speakers}}
                        <img onerror="ZC.defaultImg(this)" src="{{../../basePath}}/images/speakers/{{Slug}}.jpg" class="speaker">
                    {{/each}}
                </div>
                <span class="title">{{SessionTitle}}</span>
                <span class="speaker">{{SpeakerNames}}</span>
                <div class="meta">
                    {{#if Room}}
                        <span class="location"><i class="icon-map-marker"></i> {{Room}}</span>
                    {{/if}}

                    <span class="markers">
                        {{#each tags}}
                            <img src="{{../../basePath}}/images/sessions/{{this}}.png" />
                        {{/each}}
                    </span>
                </div>
                {{#if SessionAbstract}}
                    <blockquote class="abstract">{{{nl2br SessionAbstract}}}</blockquote>
                {{/if}}
            </td>
            <td class="attending">
                <button data-session-id="{{SessionID}}"></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
