<li>
    <img onerror="ZC.defaultImg(this)" src="/images/speakers/{{speakerSlug}}.jpg" alt="{{name}}">

    <div class="name">{{name}}</div>

    <ul class="talks">
        {{#each talks}}
            <li>
                <a href="/schedule/{{Date}}/{{SessionID}}">{{SessionTitle}}</a>
            </li>
        {{/each}}
    </ul>
</li>
