<li>
    <img onerror="ZC.defaultImg(this)" src="/images/speakers/{{speakerSlug}}.jpg" alt="{{FirstName}} {{LastName}}">

    <div class="name">{{FirstName}} {{LastName}}</div>
    <p class="meta">
        <span class="title">{{JobTitle}}</span>
        <span class="company">{{Company}}</span>
    </p>

    <ul class="talks">
        {{#each talks}}
            <li>
                <a href="/schedule/{{Date}}/{{SessionID}}">{{SessionTitle}}</a>
            </li>
        {{/each}}
    </ul>
</li>
